.layout-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #f5f6fa;
}

.main-area {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
  margin-top: 90px;
  /* ← بدل padding-top على الـ body */
}

app-shared-header {
  width: 100%;
  display: block;
  position: fixed;
  /* ← يتماشى مع الهيدر نفسه */
  top: 0;
  left: 0;
  z-index: 1300;
}

app-shared-sidebar {
  width: 219px;
  flex-shrink: 0;
  /* overflow: hidden; */
  /* ← مهم */
  /* z-index: 1100; */
  height: 100%;
  /* ← لازم يبقى موجود */
  display: flex;
  flex-direction: column;
}

/* .page-content {
  flex: 1;
  background: #fff;
  padding: 24px;
  overflow-y: auto;
  overflow-x: auto;
  box-sizing: border-box;
} */
.page-content {
  flex: 1;
  background: #fff;
  position: relative;
  padding: 24px;
  overflow-x: hidden;
  /* ← بدل auto عشان تمنع الـ horizontal scroll */
  box-sizing: border-box;
  min-width: 0;
  /* ← مهم جداً مع flex عشان مايتمددش */
}

/* Responsive */
@media (max-width: 900px) {
  .main-area {
    margin-top: 90px;
  }

  app-shared-sidebar {
    position: fixed;
    left: -220px;
    top: 50px;
    height: calc(106vh - 90px);
    width: 219px;
    z-index: 1200;
    box-shadow: 2px 0 8px #0002;
    transition: left 0.3s;
  }

  app-shared-sidebar.open {
    left: 0;
  }

  .page-content {
    padding: 12px;
  }
}
