<div class="list-container">
  <div class="header">
    <h2>Checklist Submissions</h2>
    <div class="actions">
      <button *ngIf="isAdmin" class="btn-primary" [routerLink]="[getDashboardPath(), 'checklist-add']">Question
        Management</button>
      <button *ngIf="!isAdmin" class="btn-primary" [routerLink]="[getDashboardPath(), 'checklist']">New
        Checklist</button>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading">Loading...</div>

  <div *ngIf="!isLoading" class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Site</th>
          <th>Unit ID</th>
          <th>Technician</th>
          <th>Selection</th>
          <th>Frequency</th>
          <th>Date</th>
          <th>Client</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of submissions" [routerLink]="[getDashboardPath(), 'checklist-details', s.id]"
          class="clickable-row">
          <td>{{ s.site }}</td>
          <td>{{ s.unitId }}</td>
          <td>{{ s.technicianName }}</td>
          <td>{{ s.systemType }}</td>
          <td>{{ s.frequency }}</td>
          <td>{{ formatDate(s.date) }}</td>
          <td>{{ s.clientName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
