/* You can add global styles to this file, and also import other style files */
@import "leaflet/dist/leaflet.css";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Global Ellipsis for Table Cells */
.text-ellipsis {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

/* Specific for Long Objectives/Descriptions */
.objective-ellipsis {
  max-width: 200px;
}

.project-name-ellipsis {
  max-width: 180px;
}

.location-ellipsis {
  max-width: 150px;
}
