
<header class="app-header">
  <div class="header-left">
<button class="sidebar-toggle" (click)="sidebarToggleClick()">&#9776;</button>
    <img class="menu-btn" src="/assets/images/Icon.png" alt="">
    <!-- <img class="image" src="/assets/images/MEPSOL.png" alt="Logo">
    <img class="pointImage" src="/assets/images/Ellipse 33.png" alt="Logo"> -->
  <div class="logo-wrapper">
  <img class="image" src="/assets/images/MEPSOL.png" alt="Logo">
  <img class="pointImage" src="/assets/images/Ellipse 33.png" alt="Dot">
  </div>

</div>

<div class="header-right">
  <!-- <span class="icon headset">🎧</span>
  <span class="icon bell">🔔</span> -->
  <img class="icon headset" src="/assets/images/Icon2.png" alt="Dot">
  <img class="icon bell" src="/assets/images/Icon1.png" alt="Dot">
  <ng-container *ngIf="role === 'client'">
    <a [routerLink]="['profile-details']" routerLinkActive="active" >
      <img src="assets/images/Ellipse 34.png" alt="User" class="user-img">
    </a>
  </ng-container>
  <ng-container *ngIf="role !== 'client'">
      <img src="assets/images/Ellipse 34.png" alt="User" class="user-img">
  </ng-container>
  <!-- <a routerLink="dashboard/client/profile-details" routerLinkActive="active">
    <img src="assets/images/Ellipse 34.png" alt="User" class="user-img">
  </a> -->
  <!-- <img src="assets/images/Ellipse 34.png" alt="User" class="user-img"> -->
  </div>
</header>
